@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'eras_bold_itcregular';
    src: url('../fonts/erasbd-webfont.eot');
    src: url('../fonts/erasbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/erasbd-webfont.woff') format('woff'),
         url('../fonts/erasbd-webfont.ttf') format('truetype'),
         url('../fonts/erasbd-webfont.svg#eras_bold_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'eras_demi_itcregular';
    src: url('../fonts/erasdemi-webfont.eot');
    src: url('../fonts/erasdemi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/erasdemi-webfont.woff') format('woff'),
         url('../fonts/erasdemi-webfont.ttf') format('truetype'),
         url('../fonts/erasdemi-webfont.svg#eras_demi_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'eras_light_itcregular';
    src: url('../fonts/eraslght-webfont.eot');
    src: url('../fonts/eraslght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eraslght-webfont.woff') format('woff'),
         url('../fonts/eraslght-webfont.ttf') format('truetype'),
         url('../fonts/eraslght-webfont.svg#eras_light_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{ margin:0; padding:0;}
.wraper{ max-width:1000px; margin:0 auto;}
.clb{clear:both;}
.top{ background:url(../images/top_bg.jpg) 0 0 repeat-x; min-height:45px;}
.navpart{min-height:80px; margin:1.5em 0;}
.nav ul{margin:0; padding:11px 135px 18px; background:url(../images/nav_bg.jpg) center 0 no-repeat; }
.nav ul li{margin:0; padding:0; display:inline; margin:0 40px 0 0; }
.nav ul li a{margin:0; padding:1em; color:#FFF; text-decoration:none; font-family:eras_light_itcregular;}

.container .left{ float:left;  width:20%}
.container .right{ float:right;width:20% }
.container .contain_text{ float:left; width:55%; margin:0 1% ; padding: 0 1%;}

.box{min-height:250px;}
.box h1{font: normal 18px/30px eras_light_itcregular; background-color:#0089bd; padding:5px;}
.box .subj{margin:0; padding:0; max-height:200px; overflow-y:scroll;}
.box .subj li{margin:0 0 2px ; padding:5px 0 3px 15px; list-style:none; background:url(../images/li.jpg) 0 12px no-repeat; border-bottom:#999 1px dotted; }
.box .subj li a{ text-decoration:none; color:#0089bd; font-family:eras_light_itcregular;}

.contain_text h1{font: normal 24px/38px eras_light_itcregular;color:#00aeef; padding:5px; text-transform:uppercase;}
.Bulletin{margin:10; padding:0; max-height:200px; overflow-y:scroll;}
.Bulletin li{margin:0 0 2px ; padding:5px 0 3px 15px; list-style:none; background:url(../images/buletin.jpg) 0 9px no-repeat;  }
.Bulletin li a{ text-decoration:none; color:#333; font-family:eras_light_itcregular;}

.welcome{ float:right; width:260px; font-family:eras_light_itcregular;margin:5px 0 0;}

.name{float:left; margin:10px 0 0; }
.pro_image{float:left; width:32px; height:32px; background:#FFF; margin:0 10px 0;}
.pro_image img{width:100%; height:auto;}
.log{float:left; color:#FFF; text-decoration:none; margin:10px 0 0;}

.header{ background: url(../images/full_hold.jpg) center 0 no-repeat; min-height:140px; padding:25px 0;}
.logo, logo2
{ float:left; width:210px; text-align:center}

.school{background:#7bddfd url(../images/header_bg.jpg) center bottom repeat-x; min-height:140px; padding:5px; float:left; width:600px; border-radius:10px 0 10px 0;  }
.brand{ text-align:center;}
.school h1{ text-align:center; font: normal 32px/24px eras_bold_itcregular; color:#039}
.school h1 span{ text-align:center; display:block; font-size:20px; color:#FFF;}











.serv_holder{ background: url(../images/full_hold.jpg) center 0 no-repeat; min-height:500px; padding:25px 0;}
.serv_nav{ position:relative;}
.rounder li{ display:block; list-style:none;}
.rounder li{ display:block; list-style:none;}
.rounder li a{ display:block; color:#09F; padding: 54px 2em;position:relative; text-indent:-500px; overflow:hidden;}

.rounder .s_center{ display:block; list-style:none; background:url(../images/services.png) -319px -145px no-repeat; height:185px; width:185px ; position:absolute; top:134px; left:45%; overflow:hidden;}

.rounder .weblinks{ display:block; list-style:none; background:url(../images/services.png) -135px 0 no-repeat; height:130px; width:130px ; position:absolute; top:-21%; left:48%;}

.rounder .classnotes{ display:block; list-style:none; background:url(../images/services.png) -271px 0 no-repeat; height:130px; width:130px ; position:absolute; top:63px; right:24%;}

.rounder .projects{ display:block; list-style:none; background:url(../images/services.png) -410px 0 no-repeat; height:130px; width:130px ; position:absolute; top:230px; right:23%;}

.rounder .homework{ display:block; list-style:none; background:url(../images/services.png) -548px 0 no-repeat; height:130px; width:130px ; position:absolute; top:326px; left:48%;}

.rounder .assignments{ display:block; list-style:none; background:url(../images/services.png) -691px 0 no-repeat; height:130px; width:130px ; position:absolute; top:232px; left:32%;}

.rounder .wizQuiz{ display:block; list-style:none; background:url(../images/services.png) 0 0 no-repeat; height:130px; width:130px ; position:absolute; top:63px; left:33%;}

.line li{ display:block; list-style:none;}
.line li{ display:block; list-style:none; float:left}
.line li a{ display:block; color:#09F; padding: 54px 2em;position:relative; text-indent:-500px; overflow:hidden;}

.line .s_center{ display:block; list-style:none; background:#000 url(../images/services.png) -346px -176px no-repeat; height:130px; width:130px ;  overflow:hidden; border-radius:50%; }

.line .weblinks{ display:block; list-style:none; background:url(../images/services.png) -135px 0 no-repeat; height:130px; width:130px ;}

.line .classnotes{ display:block; list-style:none; background:url(../images/services.png) -271px 0 no-repeat; height:130px; width:130px ;}

.line .projects{ display:block; list-style:none; background:url(../images/services.png) -410px 0 no-repeat; height:130px; width:130px ;}

.line .homework{ display:block; list-style:none; background:url(../images/services.png) -548px 0 no-repeat; height:130px; width:130px ;}

.line .assignments{ display:block; list-style:none; background:url(../images/services.png) -691px 0 no-repeat; height:130px; width:130px ;}

.line .wizQuiz{ display:block; list-style:none; background:url(../images/services.png) 0 0 no-repeat; height:130px; width:130px ; }


.class{ text-align:center;font:normal 26px/30px eras_light_itcregular; text-transform:uppercase; color:#0089bd }
.assingment{ text-align:center;font:normal 24px/30px eras_light_itcregular; text-transform:capitalize; }
table{font:normal 14px/18px eras_light_itcregular; text-align:center; }
th{ color:#0089bd ; padding:10px 0;}
.submitted{ color:#060;}
.submitted_n{ color:#F00;}
table input[type="button"]{}
.table tr:hover td{ background:#CCC;}

.profile{float:left; width:220px}
.profileimage{float:right; width:200px; background:#333; min-height:200px ; margin-top:12px	}
.profile h1 span{float:right;}
.profile h2{font: normal 24px/34px eras_light_itcregular;}
.profile h2 span{float:right;}
.time{ margin:0 auto; width:700px; text-align:right}
.qus{ margin:0 auto; width:700px;}
.qus h1{ font:normal 26px/30px eras_light_itcregular;}
.qus p{ font:normal 14px/24px eras_light_itcregular;}