@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');
HTML {
    height: 100%;
}
BODY {
    font-family: arial;
    font-size: 13px;
    position: relative;
    height: 100%;
}
HEADER {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 1px solid #ddd;
    background-color: #DCE0DC;
    box-shadow: 0px 4px 4px #ccc;
}
HEADER .super {
    background-color: #2D2D2D;
    padding-left: 16px;
}
HEADER .super a {
    display: inline-block;
    padding: 2px 8px;
    font-weight: bold;
    color: #aaa;
}
#logo {
    margin:0 32px 0 16px;
}
HEADER .search {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
}
HEADER .controls {
    padding: 8px 16px;
}
HEADER .controls h1 {
    font-size: 20px;
    font-weight: normal;
    color: #38B0DE ;
    display: inline-block;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
#side {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    width: 164px;
    background-color: #ffffff;
    overflow: auto;
}
.container {
width: 1155px;
}

#content {
    position: absolute;
    top: 70px;
    left: 196px;
    bottom: 0;
    right: 0;
    overflow: auto;
}



#content h2{
    font-size: 16px;
    font-weight: normal;
}

.btn .caret {
    margin-left: 16px;
}
.unread-message {
    text-align: center;
    margin: 1em;
}
#compose-button {
    width: 120px;
    margin-bottom: 2em;
    background-color: #38B0DE ;
    color: #ffffff;
}

#compose-button:hover {
    /* your custom css */
    background-color: #23708e ;
}

#theGradeNav{
   background-color: #38B0DE;
   color: #E0E0E0;
    /*#69CAEF;*/
    opacity: 0.86;
}

#theButtons{
   background-color: #38B0DE ;
   float: right;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 10px;
   color: #ffffff;


}


#theButtons:hover {
    /* your custom css */
    background-color: #23708e ;
}


#theNavButtons{
   background-color: #38B0DE ;
   margin-bottom: 10px;
   margin-right: 20px;
   margin-left: 10px;
   margin-top: 10px;
   color: #ffffff;
}

#theNavButtons:hover {
    /* your custom css */
    background-color: #23708e ;
}


#therefreshButtons{
   background-color: #16a085 ;
   float: right;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 10px;
   color: #ffffff;
}

#theBoxes {

   background-color: #38B0DE ;
   float: left;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 10px;
   color: #ffffff;
}


#theBoxes:hover {
    /* your custom css */
    background-color: #23708e ;
}


li > a {
    font-weight: bold;
}
li:hover{
    background-color: #38B0DE ;
}

th {
    font-size: 20px;
    text-align: left;
    padding-bottom: -10px;
    background: #DCE0DC;
    height: 10px;
}


td > input {
    text-align: center;
}

td:hover{
    background-color: #38B0DE ;
}

footer {
    text-align: center;
    font-weight: bold;
}
label{
  font-size: 17px;
}

.mailCounts {
float: right;
}


.modal-body form label {
    float: left;
}

.navpart .wraper .nav li > a:hover {
    background-color: #23708e ;
}


.wraper .serv_holder .serv_nav .rounder li:hover {
   background-color: #23708e ;
}



#theHeaderFix {
  background-color: #298DB3;
  /* #00597B;*/
  opacity: 0.86;
  color: #ffffff;
  /* #0089bd;*/
  height : 90px;
  margin-bottom: 60px;
  box-shadow: 7px 7px 5px #888888;
}

#theHeaderFix  body {
    margin-top: 125px; /* adjust this if the height of the menu bar changes */
  }

#theHeaderFix .nav {
    margin-top: 28px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
  }

.logo-nav img {
  height: 10rem;
}


.wraper .welcome .btn {

float:right;
}


#theLogbutton {
float:right;
margin-top: 5px;
margin-bottom: 5px;
color: #ffffff;

}



#genericFooter {
  background-color: #23708e;
  padding-bottom: 20px;
  margin-top: 20px;
  opacity: 0.86;
}

h5 {
  color: #E0E0E0;
}

.badge {
  background-color: #FAAB57;
  opacity: 0.86;
}

.box h1 {
  /*background-color: #0089bd;*/
  opacity: 0.86;
  color: #ffffff;
}

.carousel-holder {
  opacity: 0.8;
  /*width: 1200px;*/
  /*float: right;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

#theLoggedPics {
  float: right;
}

.contain_text {
  background-color: #EBEBEB;
}

.ClassChanger {
  padding-right: 80px;
}

#ClassChangerButton {

   /*background-color: #38B0DE ;*/
   float: right;
   /*margin-bottom: 20px;*/
   margin-right: 20px;
   margin-left: 10px;
   color: #ffffff;

}

#ClassChangerButton:hover{
  background-color: #F08411;
}

#theChangeButtons {

   /*background-color: #38B0DE ;*/
   float: right;
   /*margin-bottom: 20px;*/
   /*padding-right: 20px;*/
   margin-right: 5px;
   margin-left: 5px;
   color: #ffffff;

}

#theChangeButtons:hover{
  background-color: #23708e;
}

#classNotes {

  margin-bottom: 30px;
  padding-bottom: 30px;
}

#classNotes h1 {
  float: center;
  margin-left: 370px;
  margin-bottom: 50px;

}

#classNotes img {
  
  margin-left: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;

}

.jumbotron .container a {

  margin-left: 370px;
}


#normalButtons{
   background-color: #38B0DE ;
   /*float: right;*/
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 3px;
   color: #ffffff;


}


#normalButtons:hover {
    /* your custom css */
    background-color: #23708e ;
}

.unread{
  background-color: #f5f5f5;
  font-weight: bold;
}

.search input:focus + .results {
 display: block;
}

.search .results {
  display: none;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }
.search .results li {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results li span { font-weight: 200 }

.search .results li:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

.search .results li:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
}
.search .results li {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results li span { font-weight: 200 }

.search .results li:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

.search .results li:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
}

table > tbody > tr > td{
text-overflow:ellipsis;
}

.table-bordered > tbody > tr > td{
  border-right:none;
  border-left: none;
}

table > tbody >tr {
  cursor: pointer;
}
.subject-odd{
  border-bottom:2px solid rgb(184, 160, 159);
  height: 38px;
padding-top: 8px;
border-radius: 2px;
margin-top: 5px;
font-size: 17px;
}
.subject-even{
  clear: both;
  border-bottom:2px solid rgb(184, 206, 210);
  height: 38px;
padding-top: 8px;
border-radius: 2px;
margin-top: 5px;
font-size: 17px;}
.subject-heading{
  clear: both;
  text-align: center;
font-weight: bold;
background-color: rgb(71, 157, 189);
color: #FFFFFF;
font-size: 35px;
}
.proceed{
 background-color: rgb(222, 107, 103);
font-size: 17px;
font-weight: bold;
color: #fff;
border: none;
border-radius: 2px;
padding: 8px;
height: 38px;
margin-top: 16px;
float: right;
border-radius: 7px;
}