.message{
	margin-top: 6px;
}
.messageHead{
	background-color: whitesmoke;
	padding: 10px;
	clear: both;
}
.messageBody{
	padding: 36px;
	background-color: rgba(112, 128, 144, 0.13);
}
.QuickReply{
	font-weight: bold;
	background-color: rgba(102, 169, 195, 0.35);
	padding: 4px;
}
.reply{
	padding: 22px;
	background-color:rgba(112, 128, 144, 0.13);
}

.sender{
	font-weight: bold;
}

.recepient{
	font-weight: bold;
}
a:hover{
	cursor: pointer;
}