.dots{width:100%;height:35px;clear:both;}
.dots ul{text-align:center;white-space:nowrap;overflow:hidden;}
.dots ul li{margin-top:10px;display:inline-block;-webkit-border-radius:14px;width:12px;height:12px;}
.orange{background:#FFA500;}
.orange:hover{background:#FF8C00;}
.darkgreen{background:#228B22;}
.darkgreen:hover{background:#94e354;}
.blue{background:#1E90FF;}
.blue:hover{background:#00BFFF;}

.table td:hover
{
	background-color:#E5E4E2;
}

.table td
{
height:100px;
}
